{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}
    <center>Market Summary of period {{round}} </center>
{% endblock %}

{% block styles %}
    <style>
        p {
        text-align: justify
        }
     </style>
{% endblock %}

{% block content %}

<p>
    Period {{round}} of the market is now over.
</p>

{% if player.trade == 1 %}
    <p>
        {% if player.roles == 'buyer' %}
        In period {{round}}, you were a {{player.roles}} and bought the {{auctioned_item}} for {{player.price|c}}.
        {% else %}
        In period {{round}}, you were a {{player.roles}} and sold the {{auctioned_item}} for {{player.price|c}}.
        {% endif %}
    </p>
{% else %}
<p>
     In period {{round}}, you did not agree on a trade.
</p>
{% endif %}

<p>
{% if round < repetitions %}
    The market will start again shortly.
    In the next period of the market, you will be a
    {% if player.roles == 'buyer' %}
        seller.
    {% else %}
        buyer.
    {% endif %}
{% endif %}
</p>

{% next_button %}

{% endblock %}


