{% extends "global/Page.html" %}
{% load static otree%}

{% block title %}
    <center>Decision 2</center>
{% endblock %}

{% block content %}

<center><img src="{% static 'double_auction/wine.jpg' %}"/></center>

<p>
    You are given the {{auctioned_item}}.
    You are asked to report the lowest price (rounded to the nearest 10 cents) for which you are willing to sell the {{auctioned_item}} to the experimenter.
    The lowest price is the one that makes you indifferent between keeping the bottle and selling it.
</p>

{% include 'double_auction/InstructionsValuation.html' %}

<p id="valuation1_text" style="display:block">
    <input id="valuation1" type="text" onkeypress='validate(event)' name="valuation1" style="display:block">
    <input id='valuation1_button' class="btn  btn-large btn-primary next-button" value="Submit" onclick='Submit()' type="button" style="display:block">
</p>

<p id="confirm_text" style="display:none">
    <input type="hidden" name="full_history" id="full_history"/>
    <input type="hidden" name="WTA_initial" id="WTA_initial"/>
    Please confirm that your price was <span id="valuation"></span>€.
    <button id='confirm_button' class="otree-btn-next btn btn-primary" onclick="Confirm()">Confirm</button>
    <br>If you'd like to change the price, please click Resubmit.
    <button id='resubmit_button' type="button" class="otree-btn-next btn btn-primary" onclick="Reload()">Resubmit</button>
</p>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    // Disable enter key
    function stopEnterKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
    }
    document.onkeypress = stopEnterKey;

    function isEmpty() {
        if (document.getElementById('valuation1').value.length <1 ) {
            alert("No input");
            return true;
        }
        return false;
    }

    var full_history  = 'valuation1: '

    function keepHistory(history) {
        full_history = full_history + history + ', ';
        document.getElementById('full_history').value = full_history;
    }


    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
        // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
           theEvent.returnValue = false;
           if(theEvent.preventDefault) theEvent.preventDefault();
        }
    }

    var valuation1;

    function Submit() {
        if (!isEmpty()){
            valuation1 = document.getElementById('valuation1').value;
            keepHistory(valuation1);
            if (valuation1 <= {{group.threshold|json}}){
                document.getElementById("valuation").innerHTML = Math.round(valuation1 * 10) / 10;
                document.getElementById('valuation1').style.display = 'none';
                document.getElementById('valuation1_button').style.display = 'none';
                document.getElementById('confirm_text').style.display = 'block';
            } else {
                alert("Prices higher than what the experimenter estimates any buyer would be willing to pay are not registered. Please reconsider.");
            }
        }
    }

    function Confirm() {
        document.getElementById('WTA_initial').value = Math.round(valuation1 * 10) / 10;
    }

    function Reload() {
        document.getElementById('valuation1').style.display = 'block';
        document.getElementById('valuation1_button').style.display = 'block';
        document.getElementById('confirm_text').style.display = 'none';
        //window.location.reload(false);
    }

</script>
{% endblock %}

