{% extends "global/Page.html" %}
{% load static otree %}

{% block title %}
    <center>Decision 1</center>
{% endblock %}

{% block content %}

<center><img src="{% static 'double_auction/wine.jpg' %}"/></center>
<br>

You are given the {{auctioned_item}}.
You are asked to decide if you want to sell it back to the experimenter for a price equal to {{player.anchor_value|c}}.

{% include 'double_auction/InstructionsAnchor.html' %}

<button name="WTA_anchor" value=True class="btn btn-primary btn-large">Yes</button>
<button name="WTA_anchor" value=False class="btn btn-primary btn-large">No</button>

{% endblock %}

