{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load static otree %}

{% block title %}
    <center> Decision {{decision}}</center>
{% endblock %}


{% block styles %}

<style>
    table {
        border-collapse: collapse;
        text-align: center;
        margin:3px;
        border: 1px solid black;
        float: left;
    }
    th, td {
        padding: 10px;
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

{% endblock %}


{% block content %}
<input type="hidden" name="full_history" id="full_history"/>

<center>
    <div id="otree-timeout"><h4>Time left to the end of the market: <span id="otree-timer__time-left" class="badge large"></span></h4></div>
</center>

<div class="row">
    <div class="column">
        <img src="{% static 'double_auction/wine.jpg' %}"/>
        <p>You are a <b>{{player.roles}}</b> in the market.<br>
        <input type="text" id="offer" name="offer">
        <div><input id='submit_button' class="btn  btn-large btn-primary next-button" onclick='keepHistory(offer.value);sendmessage();checkerrors();' type="button"></div>
        <div><span id="status"></span></div>
        <div><span id="message"></span></div>
    </div>
    <div class="column">
        <br>
        <div> <b><span id="offer_table" ></span></b> <b><span id="successful_trades"></span></b></div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    // Disable enter key
    function stopEnterKey(evt) {
        var evt = (evt) ? evt : ((event) ? event : null);
        var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
        if ((evt.keyCode == 13) && (node.type == "text")) { return false; }
    }
    document.onkeypress = stopEnterKey;
</script>

<script type="text/javascript" src="/static/otree/js/jquery.countdown.min.js"></script>

<script>
        var milliseconds = {{time_left}}* 1000;
        update_create_countdown(milliseconds);
        var auction_start = curtime();
        var inactive_players = []
        var threshold = {{group.threshold|json}}
        var status_message = ''
        var error_message = ''
        var error_negative_number = 0
        var error_negative_number_text = 'Please input a positive number.'
        var error_above_threshold = 0
        var error_above_threshold_text = 'Prices higher than <br> what the experimenter <br>estimates any buyer <br> would be willing to pay<br> are not registered, <br> please reconsider.'
        var error_buyer_decrease = 0
        var error_buyer_decrease_text = 'Buyers can only increase their bid.'
        var error_seller_increase = 0
        var error_seller_increase_text = 'Sellers can only reduce their ask.'

        function update_create_countdown(milliseconds) {
            $('div#otree-timeout').show();
            var currentDate = new Date();

            $('span#otree-timer__time-left').countdown(currentDate.valueOf() + milliseconds)
                .on('update.countdown', function (event) {
                    // %-N is "Total count of minutes till the end, non-padded"
                    // %S is seconds left
                    var format = '%-N:%S';
                    $(this).html(event.strftime(format));
                })
                .on('finish.countdown', function (event) {
                    document.getElementById('submit_button').style.display = 'none';
                    document.getElementById('message').style.display = 'none';
                    document.getElementById('otree-timeout').style.display = 'none';
                    document.getElementById('offer').style.display = 'none';
                    status_message = 'The market is over, please wait for next stage of the experiment.'
                    $('#status').html(status_message);
                    $('<input>').attr({
                        type: 'hidden',
                        name: 'timeout_happened',
                        value: '1'
                    }).appendTo('form');

                    setTimeout(function () {
                        $('#form').submit();
                    }, 20000);

                    //$('#form').submit();
                });
        };

        function curtime() {
            return (new Date().getTime());
        }

        window.onload = function () {
            button_text = {{player.roles|json}} == 'buyer' ? 'Submit Bid' : 'Submit Ask';
            $('#submit_button').prop('value', button_text);
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var socket = new WebSocket(ws_scheme + '://' + window.location.host + "/double_auction/group{{group.id}}");

            // Handle any errors that occur.
            socket.onerror = function (error) {
                console.log('WebSocket Error: ' + error);
            };

            function validate_input(offer){
                // check if valid positive number
                var value = parseFloat(offer.replace(",", "."));
                if ( (parseFloat(value) <= 0 ) || (isNaN(value))) {
                    error_negative_number = 1;
                    return;
                }
                //else if (value > threshold && {{player.roles|json}} == 'buyer') {
                else if (value > threshold) {
                    error_above_threshold = 1;
                    return;
                }
                return value
            }

            sendmessage = function (what) {
                //$('#message').html(error_message);          // clean error message
                var value2 = validate_input(offer.value);
                if (value2 == undefined) {
                   // error_negative_number = 1;
                    return;
                }

                var msg = {
                    id: {{player.id}},
                    id_in_group: {{player.id_in_group}},
                    value: value2,
                    start_time: auction_start,
                    time_since_start: curtime() - auction_start
                };

                if (socket.readyState === socket.OPEN) {
                    socket.send(JSON.stringify(msg));
                }

            }
            // Show a connected message when the WebSocket is opened.
            socket.onopen = function (event) {
                console.log('connected to oTree');
            };

            function check_if_valid(offer){
                var result = ' ';
                if (typeof(offer) == 'string') {
                    return offer;
                } else {
                    return result;
                }
            };

            function create_offer_table(active_sellers, active_buyers){
                var sellers = active_sellers.split(',');
                var buyers = active_buyers.split(',');
                var table = "<table>";
                table = table + "<tr><td>Order Book</td><td></td></tr>";
                table = table + "<tr><td>Asks</td><td>Bids</td></tr>";
                for (var i=0; i< {{group.group_size|json}} -1; i++) {
                    table = table + "<tr><td>"+ check_if_valid(sellers[i]) +"</td><td>"+ check_if_valid(buyers[i]) +"</td></tr>";
                }
            table = table + "</table>";
            return table;
            };

            function create_trade_table(successful_trades){
                var trades = successful_trades.split(' ');
                var table = "<table>";
                table = table + "<tr><td>Trade Book</td><td></td></tr>";
                table = table + "<tr><td>Number</td><td>Price</td></tr>";
                for (var i=1; i<= trades.length-1; i++) {
                    table = table + "<tr><td>"+ i +"</td><td>"+ check_if_valid(trades[i]) +"</td></tr>";
                }
            table = table + "</table>";
            return table;
            };


            // Handle messages sent by the server.
            socket.onmessage = function (event) {

                var obj = jQuery.parseJSON(event.data);
                successful_trades = obj.successful_trades;

                if (obj.offer_origin == {{player.id_in_group}} && {{player.roles|json}} == 'seller'){
                    status_message = 'Your current ask is ' + obj.current_offer + '€.';
                } else if (obj.offer_origin == {{player.id_in_group}} && {{player.roles|json}} == 'buyer'){
                    status_message = 'Your current bid is ' + obj.current_offer + '€.';
                }
                if (!obj.offer_accepted && obj.offer_origin == {{player.id_in_group}}) {
                    if ({{player.roles|json}} == 'seller'){
                        error_seller_increase = 1;
                        //status_message = status_message + "<br/>Sellers can only reduce their ask.";
                    } else if ({{player.roles|json}} == 'buyer') {
                        error_buyer_decrease = 1;
                        //status_message = status_message + "<br/>Buyers can only increase their bid.";
                    }
                }
                $('#status').html(status_message);

                $('#successful_trades').html(create_trade_table(successful_trades));
                active_buyers = obj.active_buyers;
                active_sellers = obj.active_sellers;

                table = create_offer_table(active_sellers, active_buyers);
                $('#offer_table').html(table);



                milliseconds = obj.time_left * 1000;
                if (!obj.active_ids.includes({{player.id_in_group}}) && !inactive_players.includes({{player.id_in_group}})) {
                    inactive_players.push({{player.id_in_group}});
                    document.getElementById('submit_button').style.visibility = 'hidden';
                    document.getElementById('offer').style.visibility = 'hidden';
                    var status_message = 'You agreed to trade for a price of ' + obj.successful_trade_value + '€.<br/> Please wait until the auction is over.';
                    $('#status').html(status_message);
                    $('#message').html(error_message);
                }
            };

            // Show a disconnected message when the WebSocket is closed.
            socket.onclose = function (event) {
                console.log('disconnected from oTree');
            };

        };

        window.onunload = keepHistory({{player.full_history|json}});

        var full_history  = {{player.full_history|json}} + '; market: '

        function keepHistory(history) {
            //alert({{player.full_history|json}});
            full_history = full_history + history + ', ';
            document.getElementById('full_history').value = full_history;
            //alert(history);
        };

        function checkerrors(){
            setTimeout(function(){ if (error_negative_number == 1){
                    error_negative_number = 0
                    error_message = error_negative_number_text;
                    }
                else if (error_above_threshold == 1) {
                    error_above_threshold = 0
                    error_message = error_above_threshold_text;
                    }
                else if (error_buyer_decrease == 1) {
                    error_buyer_decrease = 0
                    error_message = error_buyer_decrease_text;
                    }
                else if (error_seller_increase == 1) {
                    error_seller_increase = 0
                    error_message = error_seller_increase_text;
                    }
            $('#message').html(error_message);
            error_message = '';
            }, 200);

        }

</script>
{% endblock %}